<div>
    <h1>О ПРОГРАММЕ</h1>
    <table class="table-about">        
        <tbody>
            <tr>
                <td><span style="margin-left: 20px">Приложение:</span></td>
                <td><span style="font-weight: 500; color: red">Рутокен VPN клиент</span></td>
            </tr>
            <tr>
                <td><span style="margin-left: 20px">Версия:</span></td>
                <td>
                    <span style="font-weight: 500">{{updateModel.currentVersion}}</span>
                    <a ng-show="updateModel.update" ui-sref="index.update"> Доступно обновление </a>
                </td>
            </tr>
            <tr>
                <td><span style="margin-left: 20px">Разработчик:</span></td>
                <td><span style="font-weight: 500">Компания "Актив"</span></td>
            </tr>
            <tr>
                <td><span style="margin-left: 20px">Веб-сайт проекта:</span></td>
                <td><span><a href="https://rutokenvpn.ru"  target='_blank'>https://rutokenvpn.ru</a></span></td>
            </tr>
            <tr style="border:none">
                <td><span style="margin-left: 20px">Техподдержка:</span></td>
                <td><span style="font-weight: 500">hotline@rutoken.ru <br /> +7 (495) 925-77-90</span></td>
            </tr>
        </tbody>
    </table>                   
</div>
<br />
<p style="text-align: center;font-weight: 500; font-size: 14px " > 1994 - {{year}} &copy; <span><a href="http://www.aktiv-company.ru/"  target='_blank'>Компания "Актив".</a></span> Все права защищены.</p>