<div>
    <h1>О ПРОГРАММЕ</h1>
    <table class="table-about">        
        <tbody>
            <tr>
                <td><span style="margin-left: 20px">Приложение:</span></td>
                <td><span style="font-weight: 500; color: red">Рутокен VPN CE клиент</span></td>
            </tr>
            <tr>
                <td><span style="margin-left: 20px">Версия:</span></td>
                <td><span style="font-weight: 500">{{updateModel.currentVersion}}</span></td>
            </tr>
        </tbody>
    </table>                   
</div>