<div>
    <h1>Настройки</h1>
    <p> Язык интерфейса: </p>
    <select class="input-large" ng-disabled="true">
        <option>Русский</option>  
    </select>
    <!--<form name="settingsForm">
        <p >
            <label class="checkbox-label">
                <input type="checkbox" ng-model="settingsModel.autoload" >
                Автоматически запускать после загрузки
                </label>
        </p>      
        <p>
            <label class="checkbox-label">
                <input type="checkbox" ng-model="settingsModel.autoupdate">
                Автоматически проверять наличие обновлений 
                </label>
        </p>  
    </form>-->
    
      
                
</div>
