
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.dat
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.ovpn
#/app/main.bundle.js
/app/app.bundle.js
/node_modules/*
/bower_components/*
/app/node_modules/*
/win/*
.vs/*
/config/*
/app/vpnserverconfig.json
launch.json
/installer/*
/mac/*
/app/updateclientconfig.json
package-lock.json
/app/package-lock.json
/app/executables/*

!log.txt
/typings
openvpn*
RutokenVpnService*