@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rutoken Vpn | Client</title>
    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/style.css" rel="stylesheet" />
    </environment>
    <environment names="Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/style.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div class="mainborder container" ng-controller="connectionController">
        <h2>
            VPN клиент {{ "| " + connection.vpnServerConfiguration.companyName}}
        </h2>
        <hr />

        <div style="text-align: center;" ng-show="connection.loading">
            <br />
            <img src="~/static/img/ajax-loader-client.gif" />
        </div>


        <div class="panel panel-default" ng-hide="connection.loading">
            <div class="panel-heading text-center" ng-show="connection.isConnectionHasInitiated">
                <h4>СОЕДИНЕНИЕ УСТАНОВЛЕНО</h4>
            </div>

            <div class="panel-heading text-center" ng-show="!connection.isConnectionHasInitiated && connection.isEnvReady">
                <h4>ЗАПУСК СОЕДИНЕНИЯ</h4>
            </div>

            <div class="panel-heading text-center" ng-show="!connection.isEnvReady">
                <h4>НАСТРОЙКА СИСТЕМЫ</h4>
            </div>

            <div class="alert alert-warning text">
                <p>
                    <h3>Компания: {{connection.vpnServerConfiguration.companyName}}</h3>
                </p>
                <p>
                    <h3>Сервер: {{connection.vpnServerConfiguration.server}} </h3>
                </p>
            </div>

            <div class="panel-body text-center" ng-show="connection.isConnectionHasInitiated">
                <button type="button"
                        class="btn btn-danger"
                        ng-click="stopVpn()">
                    <span class="text-uppercase">остановить соединение</span>
                </button>
            </div>

            <div class="panel-body" ng-show="!connection.isConnectionHasInitiated && connection.isEnvReady">

                <div ng-hide="connection.enterPin">
                    <table class="table table-hover" ng-show="connection.pkcsIds.length > 0">
                        <thead>
                            <tr style="font-weight: bold">
                                <td></td>
                                <td>ПОЛЬЗОВАТЕЛЬ</td>
                                <td>ДАТА СЕРТИФИКАТА</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="value in connection.pkcsIds track by $index" ng-click="startVpn($index)" style="cursor: pointer;">
                                <td>
                                    <img src="~/static/img/token.png" alt="" />
                                </td>
                                <td><span>{{value.UserName}}</span></td>
                                <td><span>{{value.CertDate}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-show="connection.pkcsIds.length == 0" class="alert alert-danger text-center">
                        <p>На токене не обнаружены сертификаты</p>
                    </div>
                </div>
                <div class="input-group" ng-show="connection.enterPin">
                    <input type="text" class="form-control"
                           ng-model="connectionModel.pin"
                           placeholder="PIN-код токена">
                    <span class="input-group-btn">
                        <button class="btn btn-default"
                                type="button"
                                ng-click="sendPin()">
                            PIN-код токена
                        </button>
                    </span>
                </div>
            </div>

            <div class="panel-body text-center" ng-show="!connection.isEnvReady">
                <button class="btn btn-lg btn-default"
                        type="button"
                        ng-click="installEnv()">
                    <span class="text-uppercase">настройка</span>
                </button>
            </div>

            <div class="panel-footer" ng-show="errorLog">
                <div class="alert alert-danger">
                    <span>{{errorLog}}</span>
                </div>
            </div>
        </div>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/signalr/jquery.signalr.min.js"></script>
        <script src="~/lib/angular/angular.min.js"></script>
        <script src="~/angular/app.js"></script>
    </environment>
    <environment names="Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/signalr/jquery.signalr.min.js"></script>
        <script src="~/lib/angular/angular.min.js"></script>
        <script src="~/angular/app.js"></script>
    </environment>
</body>
</html>
